{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1>{% block title %}Thingiverse reranking search{% if term %}: Results for {{ term }}{% endif %}{% endblock %}</h1>
</div>

<div class="jumbotron">
  <form role="search" method="post" action="">
    {% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Try to search for some things (searches in thing names and creators, etc.)" value="{{ term }}" name="term">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </div>
    <div class="collapse" id="details" style="text-align: right;">
      <div class="form-inline">
        <div class="form-group">
            <label for="likes_count">Name: </label>
            <input type="text" class="form-control" placeholder="Desired name" value="{{ post.name }}" name="name">
            <input type="number" min="1" class="form-control" placeholder="Weight" value="{{ post.name_weight }}" name="name_weight">
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
            <label for="likes_count">Creator: </label>
            <input type="text" class="form-control" placeholder="Desired creator" value="{{ post.creator }}" name="creator">
            <input type="number" min="1" class="form-control" placeholder="Weight" value="{{ post.creator_weight }}" name="creator_weight">
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
            <label for="likes_count">Likes count: </label>
            <input type="number" min="0" class="form-control" placeholder="Desired likes count" value="{{ post.like_count }}" name="like_count">
            <input type="number" min="1" class="form-control" placeholder="Weight" value="{{ post.like_count_weight }}" name="like_count_weight">
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
            <label for="likes_count">Collections count: </label>
            <input type="number" min="0" class="form-control" placeholder="Desired collections count" value="{{ post.collect_count }}" name="collect_count">
            <input type="number" min="1" class="form-control" placeholder="Weight" value="{{ post.collect_count_weight }}" name="collect_count_weight">
        </div>
      </div>
      <div class="form-inline">
        <div class="form-group">
            <label for="likes_count">Age: </label>
            <input type="number" min="0" class="form-control" placeholder="Desired age" value="{{ post.age }}" name="age">
            <input type="number" min="1" class="form-control" placeholder="Weight" value="{{ post.age_weight }}" name="age_weight">
        </div>
      </div>
    </div>
    <div style="text-align: right;">
      <a class="btn btn-default" data-toggle="collapse" data-target="#details">Toggle details</a>
    </div>
  </form>
</div>

{% if term %}
<div class="panel panel-default">
  <table class="table">
    <tr>
      <th colspan="2">Thing</th>
      <th>Creator</th>
      <th>Likes</th>
      <th>Collections</th>
      <th>Age</th>
      <th>Penalty</th>
    </tr>
  {% for result in results %}
    <tr>
      <td><img alt="{{ result.name }}" src="{{ result.thumbnail }}" /></td>
      <td><p><a href="{{ result.public_url }}">{{ result.name }}</a></p><p>{{ result.relative.name }}</p></td>
      <td><p><a href="{{ result.creator.public_url }}">{{ result.creator.name }}</a></p><p>{{ result.relative.creator }}</p></td>
      <td><p>{{ result.detail.like_count }}</p><p>{{ result.relative.like_count }}</p></td>
      <td><p>{{ result.detail.collect_count }}</p><p>{{ result.relative.collect_count }}</p></td>
      <td><p>{{ result.detail.age }} days</p><p>{{ result.relative.age }}</p></td>
      <td><p>Total:</p><p>{{ result.penalty }}</p></td>
    </tr>
  {% empty %}
    <tr><td>No results found. Maybe try to search for something else.</td><tr>
  {% endfor %}
  </table>
</div>
  <p>It took {{ deltas.total.seconds }}.{{ deltas.total.microseconds }} seconds.
  API calls took {{ deltas.api.seconds }}.{{ deltas.api.microseconds }} seconds.
  The rest took {{ deltas.noapi.seconds }}.{{ deltas.noapi.microseconds }} seconds.</p>
{% endif %}

{% endblock %}
